body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor{
    background-color: #e3e3e3;
    border: 1px solid red; /* dashed es para lineas punteadas, dotted son puntos*/ 
    padding: 12px; /*50 px espaciados en todas direcciones en forma de las manecillas de un reloj*/
    margin: 50px; /*50 px espaciados en todas direcciones en forma de las manecillas de un reloj*/
    margin: 10px 20px 50px; /*Ejemplo*/
}

/*Selector Hijo*/
/*Aplica todo lo que este dentro de donde se ponga el selector*/
#selectorHijo p {
    color: blue;
}

/*Selector hijo directo*/

#selectorHijoDirecto > p {
color: red;
}

/*Selector hermano general*/

#selectorHermanoGeneral h2 ~ button {
    background-color: blue;
    color: white;
}

/*selector hermano adyacente*/

#selectorHermanoAdyacente h2 + h3 {
    color: yellow;
}

/*Selector de atributo*/
a[href="https://kodemia.mx"],[href="https://www.google.com"]{
    text-decoration: none;
}

input[type="text"]{
    width: 100px;
    padding: 1px;
}

#pseudoselectores .btn {
    background-color: #454556;
    color: white;
    border: none;
    padding: 5px;
}

#pseudoselectores .btn:hover{
    width: 200px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: line-through;
}

#Enlaces a:visited{
    color: green;
}

#Enlaces a:link{
    color:red
}

.caja {
    width: 50px;
    height: 50px;
    background-color: red;
    border: 1px solid black;
    margin: 10px;
}

#listas div:first-child {
    background-color: blue;
    color: white;
}

#listas div:last-child {
    background-color: green;
}

#listas div:nth-child(3){
    background-color: black;
    color: white;
}