*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container {
    color: white;

}

.myCol{
    border: 1px solid purple;
    margin-top: 5px;
    text-align: center;
    
}